body{
  background-image:url(../src/img/fondo.jpg) ;
  background-repeat: repeat;
  background-size: cover;
 background-color: rgb(255, 255, 255);
}
body {
  padding: 0;
  margin: 0;
}
.container{
  margin: 70px 100px;
  display: flex;
  flex-direction: column;
}
.wrapper{
  /*background-color: rgb(255, 255, 255)*/

}
.card-login{
  display: flex;
  flex-direction: column;
}
.img-login{
  width:350px;
  height: 150px;
}
h1{
  text-align: center;
  font-size: 50px;
  font-family: 'Hubballi', cursive;

}
.login{
  background-color: rgb(255, 255, 255);
  height: 350px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto
}
form{
  margin-left: 50px;
  margin-right: 50px;
}
.card-invitado{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.btn-invitado-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img-pokeapi {
  width: 200px;
  margin-left: 10px;
  margin-right: 0;
}
.h1-pokeapi{
  margin-right: 140px;
  font-family: 'dongle';
  font-size: 50px;
}
header {
  box-shadow: 4px 4px 4px rgb(100 100 100);
  margin-top: 0;
  padding-top: 0;
  top: 0;
  place-items: center;
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

header button{
  height: 90px;
  padding: 10px;
  margin: 0;
  width: 150px;
  background-color: #fff;
  border: 0;
  font-family: 'montserrat';
  color: black;
  box-shadow: inset 0 0 0 0 rgb(240 240 256);
  transition: 0.4s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-color: aqua;
}
header button:hover {
  background-color: rgb(255, 0, 0);
  box-shadow: inset 0 90px 90px 0 rgb(240 240 256);
}

.nav-1:hover{
  background-color: rgb(72, 170, 63);
}

.nav-2:hover{
  background-color: #feca1b;
}
.nav-3:hover{
  background-color: #3f6197;
}



   a{
     color: rgb(0, 0, 0);
     font-weight: bold;
     text-transform: capitalize;
     font-size: 18px;
   }
   a:link, a:visited, a:active {
    text-decoration:none;
}
  .iconify{
    font-size: 25px;
  }
  
  /*
  footer{
    
    background-color: rgb(224, 187, 219);
    height: 50px;
    display: flex;
    justify-content:center;
    margin-top:none;
    
  }
  .footer-texto{
      text-align: center;
  }*/

  .notFound{
    text-align: center;
    margin: 185px;
  }
  /*
footer{
  position:fixed;
  left:0px;
  bottom:0px;
  height:60px;
  width:100%;
  background:rgb(216, 189, 189);
               
}*/


